<header>
  <nav class="nav-main-main">
  <nav class="nav-main">

    <!-- Menu toggle for mobile -->
    <div class="menu-toggle" id="menuToggle">
      <i class="fas fa-bars"></i>
    </div>

    <div class="nav-logo">
      <img src="/images/logo.png" alt="" style="height: 40px;" style="width: 40px;">
      <a href="/">CarveLane</a>
    </div>
    <ul class="nav-links">
      <li><a href="/" id="nav-home">Home</a></li>
      <li><a href="/products" id="nav-products">Products</a></li>
      <li><a href="/profile?section=order-history" id="nav-orders">My Orders</a></li>
      <li><a href="/#about-section"id="nav-about">About</a></li>
      <li><a href="/#contact-section" id="nav-contacts">Contact</a></li>
    </ul>
    <div class="nav-actions">
      
      
      <% if (user) { %>
        <a href="/cart" class="nav-cart">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M24 0C10.7 0 0 10.7 0 24S10.7 48 24 48l45.5 0c3.8 0 7.1 2.7 7.9 6.5l51.6 271c6.5 34 36.2 58.5 70.7 58.5L488 384c13.3 0 24-10.7 24-24s-10.7-24-24-24l-288.3 0c-11.5 0-21.4-8.2-23.6-19.5L170.7 288l288.5 0c32.6 0 61.1-21.8 69.5-53.3l41-152.3C576.6 57 557.4 32 531.1 32l-411 0C111 12.8 91.6 0 69.5 0L24 0zM131.1 80l389.6 0L482.4 222.2c-2.8 10.5-12.3 17.8-23.2 17.8l-297.6 0L131.1 80zM176 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm336-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"/>
          </svg>
        </a>
        <div class="profile-image-div">
          <a href="/profile">
            <% if (profile == null) { %>
             <img src="/images/person-circle.svg" alt="profile-picture" class="profile-image">
            <% } else { %>
            <img src="<%=profile.profile_picture_url || '/images/user.png'%>" alt="profile-picture" class="profile-image">
            <% } %>
          </a>
        </div>
      <% } else { %>
        <a href="/login" class="nav-login">Login</a>
      <% } %>
    </div>

    <!-- Mobile menu -->
    <div class="mobile-menu" id="mobileMenu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/profile?section=order-history">My Orders</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <% if (user) { %>

        <div class="mobile-profile">
            <a href="/profile">
              <% if (user.profile_picture) { %>
                <img src="<%= user.profile_picture || '/images/default-profile.jpg' %>" alt="profile-picture" class="profile-image">
              <% } else { %>
                <i class="fas fa-user-circle"></i>
              <% } %>
              My Account
            </a>
        </div>
      <% }  %>
    </div>
  </nav>
  <nav class="nav-cat-main">
    <div class="nav-cat-links">
      <a href="#">BRTHDAY</a>
      <a href="#">ANNIVERSARY</a>
      <a href="#">CORPORATE</a>
      <a href="#">ARTS & DECOR</a>
      <a href="#">DOOR NAME PLATE</a>
    </div>
  </nav>
</nav>
</header>
