<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login - CarveLane</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <%- include("partials/navbar") %>

  <div class="login-container">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <p>New user? <a href="/signup">Create an account</a></p>
  </div>
</body>
</html>
